<div class="evolutions">
  <div class="evolution-chain">
    <div
      *ngFor="let evolution of evolutions; let i = index"
      class="evolution"
      [ngStyle]="{ 'animation-delay': i * 300 + 300 + 'ms' }"
    >
      <div class="pokemon-img-wrapper">
        <img [src]="evolution.sprite" alt="{{ evolution.name }}" />
      </div>
      <span class="name">{{ evolution.name }}</span>
      <span class="evolution-requirement" *ngIf="evolution.level_to_evolve">
        <span>&#64;lvl</span> {{ evolution.level_to_evolve }}
      </span>
      <span class="evolution-requirement" *ngIf="evolution.stone">{{
        evolution.stone
      }}</span>
    </div>
  </div>
</div>
