<div class="app">
  <div class="stripes">
    <div *ngIf="isLoading" class="loading-screen">
      <app-loading-indicator [progress]="progress"></app-loading-indicator>
    </div>

    <app-search-bar (search)="onSearch($event)"></app-search-bar>

    <app-pokemon-list
      *ngIf="!isLoading && !selectedPokemon"
      class="list"
      [pokemonList]="filteredPokemonList"
      [selectedPokemon]="selectedPokemon"
      [isLoading]="isLoading"
      (pokemonSelected)="onPokemonSelected($event)"
    ></app-pokemon-list>

    <app-pokemon-detail
      class="pokemon-detail"
      *ngIf="selectedPokemon"
      [pokemon]="selectedPokemon"
      (closeDetail)="closeDetailView()"
    ></app-pokemon-detail>
  </div>
</div>
