.cry-player {
    display: flex;
    gap: 20px;
}

.play-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    border: 2px solid rgb(var(--primary));
    font-size: 18px;

    svg {
        width: 40%;
        height: 40%;
        fill: #fff;
        transition: all 300ms ease-in-out;
    }

    &:hover {
        background-color: rgb(var(--primary));

        svg {
            fill: #000;
        }
    }
}