.pokemon-detail {
    padding: 0;
    z-index: 10;
    width: 0;
    height: 0;
    border: 2px solid rgba(var(--primary), 0.7);
    box-shadow: 0 0 10px rgba(var(--primary), 0.8), 0 0 20px rgba(var(--primary), 0.3);
    opacity: 1;
    animation: holographic-appear 1s forwards;
    overflow: hidden;
    display: flex;
    flex-flow: column;

    @keyframes holographic-appear {
        0% {
            height: 0;
            opacity: 1;
            width: 0;
        }

        50% {
            height: 0;
            opacity: 1;
            width: 100%;
            padding: 0 20px;
            overflow: hidden;
        }

        99% {
            width: 100%;
            opacity: 1;
            height: 100%;
            padding: 20px;
            overflow: hidden;
        }

        100% {
            width: 100%;
            opacity: 1;
            height: 100%;
            padding: 20px;
            overflow: visible;
        }
    }
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    .title-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
            text-transform: capitalize;
            font-size: 64px;
            display: flex;
            gap: 20px;

            span {
                color: rgba(var(--primary), 0.5);

                &.close {
                    cursor: pointer;
                    color: #fff;
                }
            }
        }
    }

    .type-wrapper {
        display: flex;
        gap: 10px;
        justify-content: flex-end;
        padding-top: 10px;
        width: 100%;

        .type {
            display: inline-block;
            position: relative;
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 20px;
            padding: 10px 50px;
            text-transform: capitalize;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border: 4px solid rgba(var(--primary), 0.75);
                transform: skew(-20deg);
                z-index: -1;
                transition: all 300ms ease-in-out;
            }

            .icon {
                display: block;
                max-width: 20px;
                max-height: 20px;

                svg {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

.prev,
.next {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    border: 2px solid rgb(var(--primary));
    background-color: transparent;
    font-size: 20px;
    font-family: Orbitron-Regular;
    color: #fff;
    transition: all 300ms ease-in-out;

    &:not([disabled]):hover {
        background-color: rgb(var(--primary));
        color: #000;
    }
}

.prev {
    left: 0;
    transform: translate(calc(100%), -50%);

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.next {
    right: 0;
    transform: translate(calc(-100%), -50%);

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

app-detail-stats {
    display: block;
    height: 100%;
}

@media (max-width: 1800px) {
    .details-wrapper .data-wrapper .data-box .menu button {
        width: calc(50% - 10px);
    }

    .details-wrapper .data-wrapper .data-box {
        height: 170px;
    }

    .details-wrapper .data-wrapper .main-data {
        padding-bottom: 170px;
    }
}

@media (max-width: 1250px) {
    .heading .title-wrapper .title {
        font-size: 26px;
    }

    .main-data div {
        font-size: 26px;
    }

    .details-wrapper .data-wrapper .main-data div {
        font-size: 26px;
    }
}

@media (max-width: 1170px) {
    .details-wrapper .data-wrapper .data-box .menu button .full-text {
        display: none;
    }

    .details-wrapper .data-wrapper .data-box .menu button .short-text {
        display: inline;
    }
}