<div class="heading">
  <div>play</div>
  <div class="title-wrapper">
    <div class="title">
      {{ pokemon.name }}
      <span>#{{ this.pokemonService.getFormattedId(pokemon.id) }}</span>
      <span class="close" (click)="onDetailClose()">X</span>
    </div>
    <div class="type-wrapper">
      <div class="type" *ngFor="let type of pokemon.types">
        <app-type-icon
          [type]="type.type.name"
          style="width: 16px"
        ></app-type-icon>
        <span class="type-name">{{ type.type.name }}</span>
      </div>
    </div>
  </div>
</div>
<div class="details-wrapper">
  <div class="pokemon-img-wrapper">
    <img
      [src]="pokemon.sprites.other?.home?.front_default"
      [alt]="pokemon.name"
    />
  </div>
  <div class="data-wrapper">
    <div class="main-data">
      <div>
        Height: <span>{{ returnHeightInMeters(pokemon.height) }}</span>
      </div>
      <div>
        Weight: <span>{{ returnWeightInKg(pokemon.weight) }}</span>
      </div>
    </div>
    <div class="data-box" [class.active]="detailsActive !== ''">
      <div
        class="close-data-box"
        (click)="onCloseClick()"
        *ngIf="detailsActive !== ''"
      >
        X
      </div>
      <div class="content">
        <app-detail-stats
          *ngIf="detailsActive === 'stats'"
          [stats]="pokemon.stats"
        ></app-detail-stats>
        <app-detail-description
          *ngIf="detailsActive === 'description'"
          [pokemon]="pokemon.name"
        ></app-detail-description>
        <app-detail-moves
          *ngIf="detailsActive === 'moves'"
          [moves]="this.getRedBlueMoves()"
        ></app-detail-moves>
        <app-detail-evolution
          *ngIf="detailsActive === 'evolution'"
          [pokemonName]="pokemon.name"
        ></app-detail-evolution>
      </div>
      <div class="menu">
        <button
          (click)="onDetailsButtonClick('stats')"
          [class.active]="detailsActive === 'stats'"
        >
          Stats
        </button>
        <button
          (click)="onDetailsButtonClick('description')"
          [class.active]="detailsActive === 'description'"
        >
          Description
        </button>
        <button
          (click)="onDetailsButtonClick('moves')"
          [class.active]="detailsActive === 'moves'"
        >
          Moves
        </button>
        <button
          (click)="onDetailsButtonClick('evolution')"
          [class.active]="detailsActive === 'evolution'"
        >
          Evolution
        </button>
      </div>
    </div>
  </div>
</div>
