.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title-wrapper {

        .title {
            text-transform: capitalize;
            font-size: 64px;
            display: flex;
            gap: 20px;

            span {
                color: rgba(var(--primary), 0.5);

                &.close {
                    cursor: pointer;
                    color: #fff;
                }
            }
        }
    }

    .type-wrapper {
        display: flex;
        gap: 10px;
        justify-content: flex-end;
        padding-top: 10px;

        .type {
            display: inline-block;
            position: relative;
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 20px;
            padding: 10px 50px;
            text-transform: capitalize;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border: 4px solid rgba(var(--primary), 0.75);
                transform: skew(-20deg);
                z-index: -1;
                transition: all 300ms ease-in-out;
            }

            .icon {
                display: block;
                max-width: 20px;
                max-height: 20px;

                svg {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

.details-wrapper {
    display: flex;
    flex: 1;

    .pokemon-img-wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        min-height: 1px;
        background-color: black;
        width: 50%;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(var(--primary), 0.75);
            mix-blend-mode: color;
            z-index: 2;
        }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: repeating-linear-gradient(to bottom,
                    rgba(#000, 0.5),
                    rgba(#000, 0.5) 1px,
                    transparent 1px,
                    transparent 3px);
            pointer-events: none;
            z-index: 3;
            animation: moveLines 2s infinite linear;

            @keyframes moveLines {
                from {
                    transform: translateY(0)
                }

                50% {
                    transform: translateY(5px);
                }

                to {
                    transform: translateY(0)
                }
            }
        }

        img {
            position: relative;
            z-index: 1;
            filter: grayscale(1) blur(1px);
            background-color: transparent;
            animation: holoFlicker 3s infinite;
            width: auto;
            height: 100%;

            @keyframes holoFlicker {
                0% {
                    opacity: 0.95;
                }

                50% {
                    opacity: 0.85;
                }

                100% {
                    opacity: 0.95;
                }
            }
        }
    }

    .data-wrapper {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;

        .main-data {
            flex: 1;
            padding: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-bottom: 145px;

            div {
                font-size: 96px;
            }

            span {
                color: rgb(var(--primary));
            }
        }

        .data-box {
            padding: 30px;
            border-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgb(var(--primary)) 100%) 1;
            border-width: 5px;
            border-style: solid;
            position: absolute;
            width: 100%;
            bottom: 0;
            background-color: #000;
            z-index: 0;
            display: flex;
            flex-direction: column;
            transition: all 300ms ease-in-out;
            height: 115px;

            &.active {
                height: calc(100% - 20px);
            }

            .close-data-box {
                display: flex;
                margin-left: auto;
                width: 30px;
                height: 0;
                border: 0px solid rgb(var(--primary));
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                cursor: pointer;
                transition: all 300ms ease-in-out;
                animation: height 300ms forwards;
                animation-delay: 300ms;
                overflow: hidden;

                &:hover {
                    background-color: rgb(var(--primary));
                    color: #000;
                }

                @keyframes height {
                    to {
                        height: 30px;
                        border: 2px solid rgb(var(--primary));
                    }
                }
            }

            .content {
                flex: 1;
            }

            .menu {
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                bottom: 0;

                button {
                    background-color: transparent;
                    color: #fff;
                    font-family: Orbitron-Regular;
                    text-transform: uppercase;
                    font-size: 100%;
                    padding: 10px 30px;
                    position: relative;
                    border: none;
                    cursor: pointer;
                    width: calc(25% - 15px);
                    transition: all 300ms ease-in-out;
                    z-index: 2;

                    &:hover {
                        color: #000;

                        &:before {
                            background-color: rgb(var(--primary));
                        }
                    }

                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        border: 4px solid rgba(var(--primary), 0.75);
                        transform: skew(-20deg);
                        z-index: -1;
                        transition: all 300ms ease-in-out;
                    }

                    &.active {
                        color: #000;

                        &:before {
                            background-color: rgb(var(--primary));
                        }
                    }
                }
            }
        }
    }
}