$primary-color: rgba(var(--primary), 0.75);
$black-color: rgba(#000, 0.5);
$font-size-large: 64px;
$font-size-medium: 32px;
$font-size-small: 26px;
$font-size-xs: 20px;

.details-wrapper {
    display: flex;
    overflow: hidden;
    height: 100%;
    padding-bottom: 110px;

    @media (max-width: 1080px) {
        flex-direction: column;
        align-items: center;
        padding-bottom: 170px;
    }

    .pokemon-img-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        background-color: black;
        width: 50%;
        height: 100%;

        @media (max-width: 1080px) {
            max-height: 70%;
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $primary-color;
            mix-blend-mode: color;
            z-index: 2;
        }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: repeating-linear-gradient(to bottom, $black-color, $black-color 1px, transparent 1px, transparent 3px);
            pointer-events: none;
            z-index: 3;
            animation: moveLines 2s infinite linear;
        }

        img {
            position: relative;
            z-index: 1;
            filter: grayscale(1) blur(1px);
            background-color: transparent;
            animation: holoFlicker 3s infinite;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .data-wrapper {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        padding-top: 20px;

        @media (max-width: 1080px) {
            width: 100%;
            text-align: center;
        }

        .main-data {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;

            div {
                font-size: $font-size-large;

                @media (max-width: 1600px) {
                    font-size: $font-size-medium;
                }

                @media (max-width: 1250px) {
                    font-size: $font-size-small;
                }

                @media (max-width: 1080px) {
                    font-size: $font-size-xs;
                }
            }

            span {
                color: rgb(var(--primary));
            }

            @media (max-width: 1800px) {
                .details-wrapper .data-wrapper .data-box .menu button {
                    width: calc(50% - 10px);
                }
            }
        }
    }
}

@keyframes moveLines {
    from {
        transform: translateY(0);
    }

    50% {
        transform: translateY(5px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes holoFlicker {
    0% {
        opacity: 0.95;
    }

    50% {
        opacity: 0.85;
    }

    100% {
        opacity: 0.95;
    }
}

@media (max-width: 1250px) {
    .main-data div {
        font-size: $font-size-small;
    }
}