.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    .title-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
            text-transform: capitalize;
            font-size: 64px;
            display: flex;
            gap: 20px;

            @media (max-width: 1250px) {
                font-size: 26px;
            }

            @media (max-width: 650px) {
                font-size: 20px;
            }

            span {
                color: rgba(var(--primary), 0.5);

                &.close {
                    cursor: pointer;
                    color: #fff;
                }
            }
        }
    }

    .type-wrapper {
        display: flex;
        gap: 10px;
        justify-content: flex-end;
        padding-top: 10px;
        width: 100%;

        .type {
            position: relative;
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 20px;
            padding: 10px 0;
            text-transform: capitalize;
            width: 50%;
            justify-content: center;
            max-width: 300px;

            @media (max-width: 650px) {
                font-size: 12px;
            }

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border: 4px solid rgba(var(--primary), 0.75);
                transform: skew(-20deg);
                z-index: -1;
                transition: all 300ms ease-in-out;
            }

            .icon {
                display: block;
                max-width: 20px;
                max-height: 20px;

                svg {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}



.prev,
.next {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    border: 2px solid rgb(var(--primary));
    background-color: transparent;
    font-size: 20px;
    font-family: Orbitron-Regular;
    color: #fff;
    transition: all 300ms ease-in-out;

    &:not([disabled]):hover {
        background-color: rgb(var(--primary));
        color: #000;
    }

    @media (max-width: 650px) {
        top: calc(100% + 40px);
    }
}

.prev {
    left: 0;
    transform: translate(calc(-100% - 20px), -50%);

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    @media (max-width: 650px) {
        transform: translate(-50%, -50%);
        left: calc(50% - 50px);
    }
}

.next {
    right: 0;
    transform: translate(calc(100% + 20px), -50%);

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    @media (max-width: 650px) {
        transform: translate(-50%, -50%);
        left: calc(50% + 50px);
    }
}